# Exploring Data with Pandas

Import pandas and read the data into a data frame.

## Today's Learning Points

* Use `.head()`, `.tail()`, `.shape` and `.columns` to explore your DataFrame and find out the number of rows and columns as well as the column names.

* Look for `NaN` (not a number) values with `.findna()` and consider using `.dropna()` to clean up your DataFrame.

* You can access entire columns of a DataFrame using the square bracket notation: `df['column name']` or `df[['column name 1', 'column name 2', 'column name 3']]`

* You can access individual cells in a DataFrame by chaining square brackets df`['column name'][index]` or using `df['column name'].loc[index]`

* The largest and smallest values, as well as their positions, can be found with methods like `.max()`, `.min()`, `.idxmax()` and `.idxmin()`

* You can sort the DataFrame with `.sort_values()` and add new columns with `.insert()`

* To create an Excel Style Pivot Table by grouping entries that belong to a particular category use the `.groupby()` method

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('salaries_by_college_major.csv')

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format  # format numbers to x,xxx.xx format

## Inspecting the Data

Let's look at the top 5 rows of data.

In [ ]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business


* How many rows does our dataframe have?

In [ ]:
df.shape

(51, 6)

* How many columns does it have?
* What are the labels for the columns? Do the columns have names?

In [ ]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

* Are there any missing values in our dataframe? Does our dataframe contain any bad data?

NAN values are blank cells or cells that contain strings instead of numbers. Use the .isna() method

In [ ]:
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

The last row has the data source and no data in the columns - likely just a cell dedicated to attribution. Removing the row.

In [ ]:
df = df[:50]
# df = df.dropna() works too in this case but could have unwanted effects if other data was missing that we wanted to keep.
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS



---
---
---

## Basic Summary Stats

Getting the max and min, and getting the rows with the max and min.

In [ ]:
f"Min starting salary: {df['Starting Median Salary'].min()} and Max starting salary: {df['Starting Median Salary'].max()}"

'Min starting salary: 34000.0 and Max starting salary: 74300.0'

In [ ]:
df['Starting Median Salary'].idxmax()  # returns rownum with max value

43

In [ ]:
# df['Undergraduate Major'].loc[43]  # gets the major that has the highest starting salary
# this is the same as:
df['Undergraduate Major'][43]

'Physician Assistant'

In [ ]:
df.loc[43]  # get a whole row

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

* What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

* Which college major has the lowest starting salary and how much do graduates earn after university?

* Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [ ]:
df.loc[df['Mid-Career Median Salary'].idxmax()]  # highest mid-career salary

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

In [ ]:
df.loc[df['Starting Median Salary'].idxmin()] # lowest starting salary

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

In [ ]:
df.loc[df['Mid-Career Median Salary'].idxmin()]  # lowest mid-career salary

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object



---



---



---

## Calculations, Adding Columns, and Sorting

Use subtract sign or .subtract() method and then add to df by using .insert() method.

In [ ]:
spread_col = df['Mid-Career 90th Percentile Salary'].subtract(df['Mid-Career 10th Percentile Salary'])
df.insert(1,  # inserts after first column
          'Spread',  # column name
          spread_col)  # list of values to populate the column (Q: can this be any iterable or only a list?)

In [ ]:
df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

Sorting by lowest Spread

In [ ]:
low_variance = df.sort_values('Spread')
low_variance[['Undergraduate Major', 'Starting Median Salary', 'Spread']].head()

           Undergraduate Major  Starting Median Salary    Spread
40                     Nursing               54,200.00 50,700.00
43         Physician Assistant               74,300.00 57,600.00
41                   Nutrition               39,900.00 65,300.00
49                     Spanish               34,000.00 65,400.00
27  Health Care Administration               38,800.00 66,400.00

Using the .sort_values() method, can you find the degrees with the highest potential? Find the top 5 degrees with the highest values in the 90th percentile. 

Also, find the degrees with the greatest spread in salaries. Which majors have the largest difference between high and low earners after graduation.

In [ ]:
highest_90p = df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)  # top 5 degrees with highest 90th percentile values
highest_90p[['Undergraduate Major', 'Mid-Career Median Salary', 'Spread']].head()

     Undergraduate Major  Mid-Career Median Salary     Spread
17             Economics                 98,600.00 159,400.00
22               Finance                 88,300.00 147,800.00
8   Chemical Engineering                107,000.00 122,100.00
37                  Math                 92,400.00 137,800.00
44               Physics                 97,300.00 122,000.00

In [ ]:
high_variance = df.sort_values('Spread', ascending=False)  # greatest spread in mid-career salary
high_variance[['Undergraduate Major', 'Mid-Career Median Salary', 'Spread']].head()

   Undergraduate Major  Mid-Career Median Salary     Spread
17           Economics                 98,600.00 159,400.00
22             Finance                 88,300.00 147,800.00
37                Math                 92,400.00 137,800.00
36           Marketing                 79,600.00 132,900.00
42          Philosophy                 81,200.00 132,500.00

In [ ]:
high_center = df.sort_values('Mid-Career Median Salary', ascending=False)  # highest median salary
high_center[['Undergraduate Major', 'Mid-Career Median Salary', 'Spread']].head()

       Undergraduate Major  Mid-Career Median Salary     Spread
8     Chemical Engineering                107,000.00 122,100.00
12    Computer Engineering                105,000.00  95,900.00
19  Electrical Engineering                103,000.00  98,700.00
1    Aerospace Engineering                101,000.00  96,700.00
17               Economics                 98,600.00 159,400.00

## Grouping and Pivoting Data

Use .groupby() method.

Let's group by major type (STEM, HASS, Business).

In [ ]:
df.groupby('Group').count()["Undergraduate Major"]

Group
Business    12
HASS        22
STEM        16
Name: Undergraduate Major, dtype: int64

In [ ]:
df.groupby('Group').mean('Mid-Career Median Salary')['Mid-Career Median Salary']

Group
Business   75,083.33
HASS       62,968.18
STEM       90,812.50
Name: Mid-Career Median Salary, dtype: float64

# Extra Credit:

The PayScale dataset used in this lesson was from 2008 and looked at the prior 10 years. Notice how Finance ranked very high on post-degree earnings at the time. However, we all know there was a massive financial crash in that year. Perhaps things have changed. Can you use what you've learnt about web scraping in the prior lessons (e.g., Day 45) and share some updated information from PayScale's website in the comments below?

## Setup

In [ ]:
!pip install BeautifulSoup4  # install beautifulsoup

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: BeautifulSoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [12]:
from bs4 import BeautifulSoup
import requests
from html.parser import HTMLParser
import pandas as pd
import numpy as np

## Scrape the data from Payscale.com

Link format is 

```
https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/2
```

Columns have changed and are now:
* Rank
* Major
* Degree Type
* Early Career Pay
* Mid-Career Pay
* % High Meaning

In [ ]:
# Experiment with just one page:

page_url = 'https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/2'

r = requests.get(page_url)
page_contents = r.content

cold_soup = BeautifulSoup(page_contents, 'html.parser')
cold_soup.title  # Testing - it works!

In [5]:
all_the_data = None
for i in range(1, 35):
  # Scrape each page and make soup
  page_url = f'https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/{i}'
  r = requests.get(page_url)
  page_contents = r.content
  hot_soup = BeautifulSoup(page_contents, 'html.parser')
  
  # Get all rows from a page and get the cell items from each row
  all_rows = hot_soup.find_all(class_='data-table__row')
  page_data = []
  for row in all_rows:
    page_data.append({i.contents[0].contents[0].string: i.contents[1].string for i in row})

  # Make into a dataframe and merge the new page dataframe with the accumulated dataframe from other pages  
  page_df = pd.DataFrame(page_data)
  all_the_data = pd.concat([all_the_data, page_df], ignore_index=True )
    
all_the_data

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,"$93,200","$187,300",67%
1,2,Operations Research & Industrial Engineering,Bachelors,"$84,800","$170,400",28%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,"$108,500","$159,300",46%
3,4,Interaction Design,Bachelors,"$68,300","$155,800",55%
4,5,Public Accounting,Bachelors,"$59,800","$147,700",47%
...,...,...,...,...,...,...
822,823,Outdoor Education,Bachelors,"$37,400","$46,300",52%
823,824,Early Childhood Education,Bachelors,"$36,100","$45,400",78%
824,825,Mental Health,Bachelors,"$36,900","$45,000",-
825,826,Medical Assisting,Bachelors,"$36,000","$44,800",-
826,827,Metalsmithing,Bachelors,"$40,000","$40,300",33%

In [9]:
atd = all_the_data  # renaming for brevity/laziness

## Inspect and Clean the Data

First, check out the top and bottom records.

In [10]:
atd.head()  # highest mid-career pay

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,"$93,200","$187,300",67%
1,2,Operations Research & Industrial Engineering,Bachelors,"$84,800","$170,400",28%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,"$108,500","$159,300",46%
3,4,Interaction Design,Bachelors,"$68,300","$155,800",55%
4,5,Public Accounting,Bachelors,"$59,800","$147,700",47%

In [11]:
atd.tail()  # lowest mid-career pay

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
822,823,Outdoor Education,Bachelors,"$37,400","$46,300",52%
823,824,Early Childhood Education,Bachelors,"$36,100","$45,400",78%
824,825,Mental Health,Bachelors,"$36,900","$45,000",-
825,826,Medical Assisting,Bachelors,"$36,000","$44,800",-
826,827,Metalsmithing,Bachelors,"$40,000","$40,300",33%

Note the dashes for missing data under `% high meaning` column.  How to replace?

In [14]:
atd = atd['% High Meaning'].replace('-', pd.NA)
atd

0       67%
1       28%
2       46%
3       55%
4       47%
       ...
822     52%
823     78%
824    <NA>
825    <NA>
826     33%
Name: % High Meaning, Length: 827, dtype: object